* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Platypi", serif;
}
header {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 100px;
}
#logo img{
    width: 100%;
}
.ikonice{
    display: inline-flex;
    position: absolute;
    font-size: 4px;
    color: white;
    cursor: pointer;
}
#check{
    display: inline-block;
}
nav a{
    position: relative;
    text-decoration: none;
    margin-left: 30px;
    color: white;
    padding: 5px;
}
nav a::before{
    content: '';
    position:absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}
nav a:hover::before{
    width: 100%; 
}
#pocetna{
    background-color: rgb(89, 81, 81);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.alex{
    width: 25%;
}
.alex img{
    width: 100%;
}
.text1 h1{
    color:black;
    font-size: 40px;
    font-weight: bold;
}
.text1 a{
    background-color: transparent; 
    border: 1px solid #ffffbe; 
    border-radius: 5px; 
    color: #ffffbe;
    padding: 10px 20px; 
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.text1 a:hover {
    background-color: #ffffbe;
    color: black;



}
.text2 h4{
    color:#ffffbe;
    font-size: 20px;
}
.text2 h2{
    color:black;
    font-size: 35px;
}
.learn-more-btn{
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: transparent; 
    border:none; 
    color: #ffffbe; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    right: 140px;
    
}
.learn-more-btn::before, .learn-more-btn::after{
    content: "";
    background-color: black;
    width: 50%;
    height: 5px;
    position: absolute;
    transform: translate(-50%);
    border-radius: 5px;
}
.learn-more-btn::before, .learn-more-btn::after{
    top: 5px;
}
.learn-more-btn::before{
    left: -35px;
}
.learn-more-btn::after{
    right: -80px;
}
#service{
    background-color:  #ffffbe;
    padding-top: 50px;
    font-style: italic;
}
.box-text {
   display: flex;
   justify-content: center;
   
}
.service-box{
   display: flex;
   justify-content: space-around;
   flex-direction: row; 
   padding-top: 50px;
   padding-bottom: 50px;
}
.box{
    width: 50px;
}
.box img{
    width: 100%;
}
.box h3{
    color:  black;
 
}
#skills{
    background-color: rgb(89, 81, 81);
    padding-top: 50px;
    padding-bottom: 50px;
}
.skills-box{
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   
}
.skills-box i{
    font-size: 50px;
    padding-top: 40px;
}
.skills-box h3{
    font-size: 30px;
}
.about1{
    display: flex;
    justify-content: center;
    background-color:  #ffffbe;
    padding-top: 50px;
}
.about1 h1{
    color: black;
}
#about{
    background-color: #ffffbe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.table{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.adj{
    color: rgb(89, 81, 81);
    font-weight: bold;
    font-style: italic;
}
.left{
    width: 50%;
}

form {
    width: 300px;
    margin: 0 auto;
    background-color: rgb(89, 81, 81);
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: white;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 16px); 
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: transparent;
    color: black;
    border: 1px solid #ffffbe; 
    border-radius: 5px; 
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 90px;

}

input[type="submit"]:hover {
    background-color: #ffffbe;
}
.contact1{
    display: flex;
    justify-content: center;
    background-color: rgb(89, 81, 81);
    padding-top: 50px;
}
.contact1 h1{
    color: black;
    margin-bottom: 30px;
}
.contact2, .contact3{
    background-color:rgb(89, 81, 81)
}
.contact3{
    display: flex;
    justify-content: center;
}
.contact3 ul{
    display: flex;
    flex-direction: row;
}
.contact3 ul li{
    list-style: none;
    font-size: 30px;
    letter-spacing: 10px;
    padding-top: 20px;
}
.contact3 ul li a{
    color: black;
}
footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer1{
    display: flex;
    justify-content: center;
}
.footer1 ul{
    display: flex;
    flex-direction: row;
    letter-spacing: 10px;   
    color: white;
}
.footer1 ul li{
    list-style: none;
}
.footer1 ul li i{
    list-style: none;
    color: white;
}
.footer2{
    display: flex;
    justify-content: center;
}
.footer2 p{
    color: white;
    font-size: 10px;
}